
Test/.vs/Test/DesignTimeBuild/.dtbcache
Test/.vs/Test/v15/Server/sqlite3/storage.ide
Test/.vs/Test/v15/Server/sqlite3/storage.ide-shm
Test/.vs/Test/v15/.suo
Test/.vs/Test/v15/Server/sqlite3/storage.ide-wal
Test/ConsoleTestApp/bin/Debug/ConsoleTestApp.exe
Test/ConsoleTestApp/bin/Debug/ConsoleTestApp.exe.config
Test/ConsoleTestApp/bin/Debug/ConsoleTestApp.pdb
Test/ConsoleTestApp/obj/Debug/ConsoleTestApp.csproj.FileListAbsolute.txt
Test/ConsoleTestApp/obj/Debug/ConsoleTestApp.csprojAssemblyReference.cache
Test/ConsoleTestApp/obj/Debug/ConsoleTestApp.exe
Test/ConsoleTestApp/obj/Debug/ConsoleTestApp.pdb
Test/ConsoleTestApp/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Test/.vs/Test/v15/Server/sqlite3/db.lock
